html{
  background: linear-gradient(to left, #ed4264, #ffedbc);
   background-size: 300% 300%;
   animation: color 12s ease-in-out infinite;
}
.h2{
  color: black;
  
}
.project{
  margin-top: 70px;
  text-align: center;
}
.p1{background: darkviolet;}
.p2{background: blue;}
.p3{background: skyblue;}
.p4{background: green;}
.p5{background: greenyellow;}
.p6{background: orange;}
.p7{background: red;}
.imgl{
  height: 50px;
  width: 50px;
  margin-top: 10px;
  border: 3px solid white;
  margin: auto 60px;
  border-radius: 25%;
}
.pro{
width: 90%;
  height: 70px;
  background: green;
  border-radius: 30px;
  display: flex;}



